<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Your description goes here" />
    <meta name="keywords" content="one, two, three" />

    <title>Blank Template</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="header"></div>
    <div class="topSection">
      <div class="topLeft"></div>
      <div class="topMid"></div>
      <div class="topRight"></div>
    </div>
    <div class="botSection">
      <div class="botLeft"></div>
      <div class="botRight"></div>
    </div>
    <div class="footer"></div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
